<% area_codes.each do |area_code, count|%>
  <div class="mt-2">
    <%= form.check_box :"area_codes[#{area_code}]",
      class: "rounded-md mr-5 border-midnight-400 !checked:bg-midnight-920 text-midnight-920",
      data: { action: "input->search-form#search" }
    %>
    <%= form.label :area_codes, t("areas.#{area_code}") + " (#{count})",
      class: "text-sm text-midnight-450"
    %>
  </div>
<%end%>
