- content_for :title, t('collections.title')
- content_for :menu_title, t('collections.title')
= render(partial: "block_right_menu", locals: { has_collections: @collections.present? })

- if @collections.present?
  = render(partial: "collections", locals: {pagy_collections: @pagy_collections, collections: @collections})
- else
  .text-sm.text-midnight-400.mb-2=t('collections.try_now')
  .text-readable-width.get-started= t('collections.get_started')
