<div class="transition <%= css_classes %>" data-id="<%= @saved_scenario.id %>">
  <div class="flex items-center">
    <%= check_box_tag nil, @saved_scenario, false,
        class: "rounded-md border-midnight-400 !checked:bg-midnight-920 ml-2 mr-2 self-center",
        data: { action: "batch-dump#toggle", id: @saved_scenario.id } %>

    <div class="flex-grow">
      <%= render(SavedScenarios::Row::Component.new(
        path: @path,
        saved_scenario: @saved_scenario
      )) %>
    </div>
  </div>
</div>
