<% content_for :block_right_sub_menu do %>
  <%= form_with url: list_admin_saved_scenarios_path,
    method: :get,
    data: { controller: "search-form", search_form_target: "form", turbo_frame: "saved_scenarios", 'turbo-method': "get" } do |form|
    %>
    <div class="flex flex-col pl-5">
      <%= render(SavedScenarios::Filters::FilterComponent.new(filters: filters)) %>
    </div>
  <% end %>
<% end %>
