<%= turbo_frame_tag "saved_scenarios" do %>
  <div id="saved_scenarios_list">
    <% @saved_scenarios.each do |saved_scenario| %>
      <%= render(SavedScenarios::Row::Component.new(path: saved_scenario_path(saved_scenario), saved_scenario: saved_scenario)) %>
    <% end %>
  </div>
  <%= render(MorePagy::Component.new(pagy: @pagy_admin_saved_scenarios)) %>
<% end %>
