- content_for :title, "Saved scenarios"
- content_for :menu_title, "Saved scenarios"

= render(partial: "admin/block_right_menu", locals: { has_saved_scenarios: @saved_scenarios.present? })

- if @saved_scenarios.present?
  = render(partial: "admin/saved_scenarios/saved_scenarios", locals: { pagy_admin_saved_scenarios: @pagy_admin_saved_scenarios, saved_scenarios: @saved_scenarios })
- else
  = t('saved_scenarios.empty')
