- content_for :title, "All saved scenarios"
- content_for :menu_title, "All saved scenarios"

= render(partial: "admin/block_right_menu")

- if @saved_scenarios.present?
  = render(partial: "saved_scenarios", locals: { pagy_admin_saved_scenarios: @pagy_admin_saved_scenarios, saved_scenarios: @saved_scenarios })
- else
  = t('saved_scenarios.empty')
