<div class="bg-midnight-300 px-10 py-8 text-base border rounded-md">
  <h3 class="text-midnight-800 mb-2">
    <%= @title %>
  </h3>

  <div class="text-midnight-450 text-sm space-y-2">
    <%= content %>
  </div>

  <% if buttons? %>
    <div data-testid="buttons" class="mt-6 flex items-center justify-start gap-4">
      <%= buttons %>
    </div>
  <% end %>
</div>
