<%= render(Identity::RowComponent.new(title: @title)) do %>
  <div>
    <div><%= content %></div>

    <% if message? %>
      <div class="text-midnight-450 mt-2 text-sm"><%= message %></div>
    <% end %>

    <% if button? %>
      <div class="mt-4 flex gap-4 text-sm">
        <%= button %>
      </div>
    <% end %>
  </div>
<% end %>
