<%= render(Identity::RowComponent.new(title: @title)) do %>
  <div class="mb-5">
    <div class="flex gap-4">
      <%= content %>

      <% if button? %>
        <div class="flex gap-4 text-sm">
          <%= button %>
        </div>
      <% end %>
    </div>

    <% if message? %>
      <div class="text-midnight-450 mb-5 mt-5 text-sm text-readable-width"><%= message %></div>
    <% end %>
  </div>
<% end %>
