<div class="flex flex-col my-2 text-base">
  <div class="w-44 text-midnight-400 text-sm ">
    <% if title_contents? %>
      <%= title_contents %>
    <% else %>
      <%= @title %>
    <% end %>
  </div>
  <div class="mt-2">
    <%= content %>
  </div>
</div>
