<div
  data-controller="hovercard"
  data-hovercard-url-value="<%= @path %>"
  data-action="mouseenter->hovercard#show mouseleave->hovercard#hide"
>
  <%= content %>

  <%# static card %>
  <%# should make text optional and setup the @path with turbo see: https://boringrails.com/articles/hovercards-stimulus/ %>
  <div class="relative hidden opacity-0 pointer-events-none transition delay-500 duration-300" data-hovercard-target="card">
    <div data-tooltip-arrow class="absolute top-0 <%= placement_class %> z-10 shadow-lg rounded-lg p-3 min-w-max bg-midnight-300 text-midnight-800">
      <div class="flex space-x-3 items-center max-w-s text-sm">
        <%= @text %>
      </div>
    </div>
  </div>
</div>
