<% content_for :block_right do %>
  <div class="flex flex-col">
    <%= render(SavedScenarios::NavItem::Component.new(
      path: saved_scenario_path(saved_scenario),
      title: t('scenario_bar.info'),
      icon: 'information-circle',
      active: controller_name == 'saved_scenarios' && action_name == 'show')
    )%>
    <%= render(SavedScenarios::NavItem::Component.new(
      path: saved_scenario_path(saved_scenario),
      title: t('scenario_bar.history'),
      icon: 'clock',
      active: controller_name == 'history')
    )%>
    <% if saved_scenario.owner?(current_user) || current_user&.admin? %>
      <%= render(SavedScenarios::NavItem::Component.new(
        path: saved_scenario_users_path(saved_scenario),
        title: t('scenario_bar.manage_access'),
        icon: 'user-group',
        active: controller_name == 'saved_scenario_users')
      )%>
    <% end %>
  </div>

  <div class="border-l lg:border-l-0 lg:border-t flex flex-col border-solid border-gray-200 pr-5 lg:pr-0 lg:mt-10 lg:pt-10">

    <%= render(partial: "block_right_sub_options", locals: { saved_scenario: saved_scenario }) %>

  </div>
<% end %>
