<p style="color: green"><%= notice %></p>

<% content_for :title, "Saved scenarios" %>

<h1>Saved scenarios</h1>

<div id="saved_scenarios">
  <% @saved_scenarios.each do |saved_scenario| %>
    <%= render saved_scenario %>
    <p>
      <%= link_to "Show this saved scenario", saved_scenario %>
    </p>
  <% end %>
</div>

<%= link_to "New saved scenario", new_saved_scenario_path %>
