%p{style:"color: green"}= notice

- content_for :title, "Saved scenarios"
- content_for :menu_title, "Saved scenarios"

.flex.h-full
  %div{class: 'basis-3/4', id:"saved_scenarios"}
    - @saved_scenarios.each do |saved_scenario|
      = render saved_scenario

  .bg-gray-100.mr-0.ml-auto.h-full{class: 'basis-1/4 max-w-[300px]'}
    FILTERS
