- content_for :title, "Saved scenarios"
- content_for :menu_title, "Saved scenarios"
- content_for :block_right, "FILTERS"

- if @saved_scenarios.present?
  - @saved_scenarios.each do |saved_scenario|
    = render(SavedScenarioRow::Component.new(path: saved_scenario_path(saved_scenario), saved_scenario: saved_scenario))
- else
  =t('saved_scenarios.empty')
