%p{style:"color: green"}= notice

- content_for :title, "Saved scenarios"
- content_for :menu_title, "Saved scenarios"
- content_for :block_right, "FILTERS"

- @saved_scenarios.each do |saved_scenario|
  = render saved_scenario
