<div class="floating-label-field flex flex-col">
  <%= @form.label @name, @title, class: "pb-2 text-midnight-400 text-sm transition-all" %>
  <% if field? %>
    <%= field %>
  <% else %>
    <%= @form.public_send("#{@type}_field", @name, placeholder: @title, class: "peer", **@field_attributes) %>
  <% end %>
</div>
