<div class="mb-6 -mt-4">
  <h2 class="pb-2 text-xl mr-auto text-midnight-800"><%= @title %></h2>
  <% unless @subtext.nil? %>
    <p class="leading-relaxed text-midnight-400"><%= @subtext %></p>
  <% end %>
</div>
