<div class="
  flex
  bg-midnight-600
  text-midnight-450
  hover:text-midnight-800
  py-3
  !outline-none
  ">
  <%= link_to @path, class: "flex p-2 pl-6 w-full hover:underline !outline-none transition" do %>
      <span class="mr-5"><%= heroicon @icon, options: { class: 'w-6 h-6' } %></span>
      <span><%= @title %></span>
  <% end %>
  <div
    id="account-options-button"
    data-action="click->dropdown#toggle"
    class="
      w-1/4
      p-2
      hover:cursor-pointer
    ">
      <%=heroicon 'arrow-right-circle', options: { class: 'w-5 h-5' } %>
  </div>
</div>

