<a
  role="menuitem"
  href="<%= @path %>"
  class="
    flex
    w-full
    cursor-pointer
    border-0
    !outline-none
    !text-midnight-450
    hover:!text-midnight-800
    hover:underline
    first:mb-2
  "
>
  <span class="ml-auto">
    <%= content %>
  </span>
  <span class="mr-0 ml-2"><%= heroicon @icon, options: { class: 'mt-0.5 w-4 h-4' } %></span>
</a>
