<%= render(Hovercard::Component.new(
    path: '',
    text: t("version.#{version}"),
    placement_class: "left-2"
  )) do %>
  <div class="text-midnight-400 mt-5">
    <%= "##{version}"%>
  </div>
<% end %>
