<% content_for(:title) { "#{@saved_scenario.title} <% #{t('meta.title')}" } %>
<% content_for :menu_title, @saved_scenario.localized_title(I18n.locale) %>
<%= render(partial: "saved_scenarios/block_right_menu", locals: { saved_scenario: @saved_scenario }) %>

<div class="text-midnight-450">
  <%= t('saved_scenario_history.description').html_safe %>
</div>

<div class="mt-10 text-midnight-400 text-sm">
  <%= t("saved_scenario_history.title") %>
</div>

<div class="border border-gray-200 rounded-md p-2 pt-5 mt-2">
  <%= render partial: "saved_scenario_history/history_list", locals: { history: @history, saved_scenario: @saved_scenario } %>
</div>
