@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0;
    @apply h-screen;
    font-optical-sizing: auto;
    @apply bg-midnight-200;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url('Montserrat-VariableFont_wght.ttf') format('truetype');
  }

  .button {
    @apply bg-gray-100;
    @apply p-2;
    @apply px-5;
    @apply rounded-md;
    @apply transition;
    @apply hover:bg-midnight-950;
    @apply hover:text-midnight-200;
  }

  .logo {
    filter: brightness(0.25);
  }

  .trix-content ol, trix-editor ol{
    @apply list-decimal;
    @apply pl-5;
  }

  .trix-content ul, trix-editor ul{
    @apply list-disc;
    @apply pl-5;
  }
}

@import 'actiontext.css';


input[type="email"], input[type="password"], input[type="text"] {
  @apply border-gray-200 rounded-md bg-midnight-200;
}


