- content_for :menu_title, 'Your Applications'
- content_for :title, 'Your Applications'
= render partial: '/admin/block_right_menu'

= render partial: 'intro'
= render partial: 'staff_application', collection: @staff_applications
