<%- content_for :menu_title, 'Manage users' %>
<%- content_for :title, 'Manage users' %>
<%= render(partial: "/admin/block_right_menu") %>

<div class="mt-8 mb-2 text-midnight-400 text-sm">
  <%= "Showing users (#{@users.count})"%>
</div>

<% @users.each do |user| %>
  <%= render Admin::UserRow::Component.new(
    user: user,
    path: admin_edit_user_path(user),
    confirm_path: admin_confirm_user_path(user),
    confirmed: user.confirmed?
  )%>
<% end %>
