<% unless @users.blank? %>
  <div class="flex flex-col">
    <span class="text-sm text-midnight-400"><%= @title %></span>
    <div class="flex">
      <% @users.each do |user| %>
        <%= render(Hovercard::Component.new(
          path: '',
          text: hover_text_for(user),
          placement_class: "left-2",
          card_width: "w-max-content"
        )) do %>
          <span class="inline-block <%= @color %> rounded-md h-8 w-8 mr-2 pt-1 mt-1 text-center text-midnight-200"><%= initials_for(user) %></span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

