.border-solid.border.border-gray-200.p-2.pt-5.mb-5.mr-0.flex.rounded-md.justify-between{class: 'basis-full lg:h-full lg:basis-1/4 lg:ml-auto lg:mb-0 lg:max-w-[300px] lg:flex-col lg:justify-normal'}
  = yield(:block_right)
