.text-center.mt-5
  %span{class: 'hover:underline'}=link_to t('footer.terms'), terms_path
  %span.ml-5{class: 'hover:underline'}=link_to t('footer.privacy'), privacy_path
  %span.ml-5{class: 'hover:underline'}= link_to t('footer.contact_us'), contact_path
