%header.bg-brand
  %nav.mx-auto.flex.max-w-7xl.items-center.justify-between.py-2{aria: {label:"Global"}}
    -# Where does the logo refer to? REMEMBER LAST VERSION IN COOKIE
    %a.logo
      = image_tag 'header/logo300@2x.png', class: 'h-8'

