<div class="
    checkbox-wrapper
    p-2
    px-5
    rounded-md
    text-midnight-800
    bg-midnight-300
    mr-2
    mb-2
    hover:bg-midnight-600
    hover:cursor-pointer
    "
    data-pick-id= <%=scenario.id%>
    data-version= <%=scenario.version.tag%>
    data-collections-target= "listPick"
    data-action="click->sortable-list#pick"
    <%= 'hidden' if hidden %>
  >
  <span><%= scenario.title %> </span>
</div>
