<%= button_to path, method: :put, data: { turbo_method: :put }, class: "flex p-2 pl-6 w-full transition #{available_css} text-sm text-midnight-800 hover:hover:underline" do %>
  <span class="mr-5"><%= heroicon icon, options: { class: 'w-5 h-5' } %></span>
  <span><%= @title %></span>
<% end %>
